@import "bootstrap";

$light-gray: #777;

// universal 
.jumbotron
{
    margin-top: 20px;
}
.center
{
    text-align: center;
}

//typo
h1
{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 10px;
    text-align: center;
}

h2
{
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p
{
    font-size: 1em;
    line-height: 1em;
}

//header

#logo
{
    float: left;
    margin-right: 30px;
    font-size: 2em;
    color: $light-gray;
    text-transform: uppercase;
    font-weight: bold;
    &:hover
    {
        color: white;
    }
}
//footer
.footer
{
    margin: 30px 5% 0 5%;
    padding: 10px 0 10px 0;
    // color: $light-gray;
    height: 100%;
    a
    {
        color: #555;
        text-decoration: none;
    }
    &:hover
    {
        color: #222;
    }
    small
    {
        float: left;
    }
    ul
    {
        float: right;
        list-style-type: none;
        li
        {
            float: left;
            margin-left: 10px;
        }
    }
}

